    body
    {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: url(cake.jpg);
        background-size: cover;      
    }
    .topnav {
        overflow: hidden;
        background-color: rgb(77, 23, 23);
        }
        .topnav a {
        float: left;
        display: block;
        color: #fcfafa;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        }
        .topnav a:hover {
        background-color: rgb(250, 102, 102);
        color: black;
        }
    
        .form-box{
            width: 700px;
            background: rgba(0,0,0,0.8);
            margin: auto;
            padding: 70px 0;
            color:#fff;
            box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
        }
               
               h1{
                color:rgba(255, 2, 171, 0.849);
               background: rgb(56, 47, 66);
                font-size: 50px;
               
                border: 2px solid rgb(255, 4, 4);
            }